---
import { ArrowIcon } from "../../components/icons/ArrowIcon";
import Button from "../../components/Button.astro";
import Container from "../../components/Container.astro";
import Grid from "../../components/Grid.astro";
import { TextSpan } from "../../components/TextSpan";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = () => {
  const paths = [
    {
      params: { path: "cuckoo-fibre" },
      props: {
        title: "Cuckoo Fibre",
        paragraphs: [
          [
            {
              text: "As a frontend engineer, I was heavily involved in the company’s rebranding, where we rebuilt the entire website using tools like ",
              format: "normal",
            },
            { text: "TailwindCSS", format: "highlight" },
            { text: ", ", format: "normal" },
            { text: "Next.js ", format: "highlight" },
            { text: "and ", format: "normal" },
            { text: "Figma.", format: "highlight" },
            {
              text: " Working alongside different teams, we set up a  ",
              format: "normal",
            },
            { text: "design system ", format: "highlight" },
            {
              text: "as the building blocks for the new brand.",
              format: "normal",
            },
          ],
          [
            {
              text: "One of the key projects I worked on was improving the customer ",
              format: "normal",
            },
            {
              text: "sign-up journey",
              format: "highlight",
            },
            {
              text: ". We focused on making it",
              format: "normal",
            },
            {
              text: "accessible  ",
              format: "highlight",
            },
            {
              text: "and ",
              format: "normal",
            },
            {
              text: "easy to use for everyone ",
              format: "highlight",
            },
            {
              text: "by using the progressive enhancement strategy.",
              format: "normal",
            },
          ],
          [
            {
              text: "I also added some fun animations to make the site more engaging and enjoyable for users 🤩",
              format: "normal",
            },
          ],
        ],
        websiteUrl: "https://cuckoo.co",
        media: [
          {
            src: "/videos/3d-worlds-website.mp4",
            alt: "Cuckoo world",
            type: "video",
          },
          {
            src: "/images/cuckoo-switching-image.jpeg",
            alt: "Cuckoo switching",
            type: "image",
          },
          {
            src: "/videos/login.mp4",
            alt: "Cuckoo login",
            type: "video",
          },
        ],
      },
    },
    {
      params: { path: "alex-hughes-photography" },
      props: {
        title: "Alex Hughes Photography",
        paragraphs: [
          [
            { text: "This site was built using ", format: "normal" },
            { text: "Astrojs", format: "highlight" },
            { text: " , ", format: "normal" },
            { text: "TailwindCSS", format: "highlight" },
            { text: " and ", format: "normal" },
            { text: "Figma", format: "highlight" },
            {
              text: ", focusing on clean design and smooth user experience to showcase the photography effectively.",
              format: "normal",
            },
            {
              text: " My goal was to keep the site as straightforward as possible to maintain a fast and intuitive user experience.",
              format: "normal",
            },
          ],
          [
            {
              text: "All animations were implemented using ",
              format: "normal",
            },
            {
              text: "JavaScript ",
              format: "highlight",
            },
            {
              text: "ensuring they were subtle and lightweight, which enhanced the overall feel of the site while keeping loading times fast.",
              format: "normal",
            },
          ],
          [
            {
              text: "The result is a platform that balances simplicity with elegance. 📸",
              format: "normal",
            },
          ],
        ],
        websiteUrl: "https://alexhughes.vercel.app/",
        media: [
          {
            src: "/videos/alex-hughes.mp4",
            alt: "Alex Hughes Photography",
            type: "video",
          },
        ],
      },
    },
    {
      params: { path: "feature-films-featuring" },
      props: {
        title: "Feature Films Featuring",
        paragraphs: [
          [
            {
              text: "I developed a personal project aimed at cross-referencing individuals in the film industry to output their common projects.",
              format: "normal",
            },
            {
              text: " This website is one of the first I started when teaching myself to code and has been an ongoing project ever since.",
              format: "normal",
            },
            {
              text: " It places a strong emphasis on data manipulation and transformation, allowing me to continually refine my skills while working on something I enjoy.",
              format: "normal",
            },
          ],
          [
            { text: "This site is built using ", format: "normal" },
            { text: "Astrojs", format: "highlight" },
            { text: " and ", format: "normal" },
            { text: "TailwindCSS", format: "highlight" },
            {
              text: " , and calls multiple APIs throughout. I implemented a combination of native browser functionality, such as local storage, and nanostores in Astro to create a robust and efficient site.",
              format: "normal",
            },
          ],
        ],
        websiteUrl: "https://feature-films-featuring-v2.vercel.app/",
        media: [
          {
            src: "/videos/feature-films-featuring-vid.mp4",
            alt: "Feature Films Featuring",
            type: "video",
          },
        ],
      },
    },
  ];
  return paths;
};

const { title, paragraphs, media, websiteUrl } = Astro.props;
---

<Layout title="Rose Bowen Visuals">
  <Container>
    <Grid>
      <div class="col-span-4 md:col-span-12 mt-[80px] md:mt-[120px]">
        <div class="flex items-center gap-5">
          <a href="/#work" class="flex items-center">
            <button class="rotate-180" aria-label="Back to home">
              <ArrowIcon color="#4CFFF4" />
            </button>
          </a>
          <h1 class="text-[34px] md:text-[60px]">{title}</h1>
        </div>
      </div>
      <div
        class="col-span-4 md:col-span-8 [&>p]:text-[20px] md:[&>p]:text-[30px] [&>p]: [&>p]:leading-[110%] [&>p]:mt-6 md:[&>p]:mt-10"
      >
        {
          paragraphs.map((paragraph) => (
            <p class="mb-4">
              {paragraph.map((segment: { text: string; format: string }) => (
                <TextSpan text={segment.text} format={segment.format} />
              ))}
            </p>
          ))
        }
      </div>
      <div class="col-span-4 md:col-span-12 mt-[16px] md:mt-[24px]">
        <a target="_blank" class="block w-fit" href={websiteUrl}>
          <Button>Visit website</Button>
        </a>
      </div>
      <div
        class="col-span-4 md:col-span-12 w-full flex flex-col gap-[20px] md:gap-[50px] md:mb-[120px] mt-[52px] md:mt-[80px]"
      >
        {
          media.map((media) =>
            media.type === "video" ? (
              <video
                autoplay
                loop
                muted
                playsinline
                class="object-cover max-h-[500px] md:max-h-[800px] w-full object-center rounded-xl md:rounded-lg"
              >
                <source src={media.src} type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            ) : (
              <img
                class="rounded-xl md:rounded-lg"
                src={media.src}
                alt={media.alt}
              />
            )
          )
        }
      </div>
    </Grid>
  </Container>
</Layout>
